@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img:hover {
    transform: translate(-4px, -4px);
    border: 3px solid rgba(255, 255, 255, 0.712);
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.521);
    transition: transform 0.3s, border .1s;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
}